body {
    margin: 0;
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.mayor {
    width: 100%;
}

.clear
{
  clear:both;
}

.superior {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
    margin: 0;
}

.cuadro-superior {
    width: 780px;
    height: 100px;
    margin: auto;
}

.logo {
    width: 250px;
    height: 100px;
    float: left;
    margin-top: -10px;
    margin-left: -35px;
    margin-right: 70px;
}

.information_language {
    float: right;
    font-size: 23px;
    margin-top: 29px;
    text-decoration: underline;
    cursor: pointer;
    color: #0042ff;
}

.principal-text {
    float: left;
    color: #38c00e;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
    /*font-family: sans-serif;*/
}

#close_conocimiento {
    font-size: 20px;
    margin-left: 150px;
    font-weight: bold;
}

#close_conocimiento:hover {
    color: #84deff;
    cursor: pointer;
}

.cuadro-menu {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(-90deg, #41e485, #5de7f8);
    margin-top: -16px;
    padding-left: 100px;
}

.menu {
    width: 700px;
    height: 50px;
    margin: auto;
    padding-left: 70px;
}

.link-contact{
    display: none;
}

.menu nav ul li {
    float: left;
    margin-top: 10px;
    margin-left:  20px;
    cursor: pointer;
    padding-right: 20px;
    text-decoration: none;
    list-style-type: none;
	font-weight: bold;
}

.bordito {
    border-right: 1px solid #FFF;
}

.bordito1 {
    color: rgb(18, 0, 82);
    border-right: 1px solid #FFF;
}

a {
    color: #FFF;
}

.menu nav ul li:hover {
    color: black;
}

.cuerpo {
    width: 100%;
    height: auto;
    padding-top: 50px;
    margin: auto;
    
}

.cuadro {
    width: 800px;
    height: auto;
    border-radius: 8px;
    margin: auto;
    background-color: #FFF;
    margin-bottom: 50px;
}

.titulo {
    text-align: center;
    color: #959393;
    border-bottom: 1px solid #d0d0d0;
    background-color: #F5F5F5;
    margin: 0;
    height: 70px;
    padding: 20px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 30px;
    font-weight: bold;
}


.columnas {
    border-bottom: 1px dashed #bcbcbc;
    border-right: 1px dashed #bcbcbc; 
    width: 300px;
    height: 300px;
    text-align: center;
    float: left;
    margin: 45px;
    transition: 0.5s;
    padding-top: 20px;
}

.columnas img {
    /*width: 200px;
    height: 100px;*/
    margin-top: 30px;
}

.AddHover {
   transition: 0.5s; 
}

.AddHover:hover {
    box-shadow: 10px 10px 5px #888888;
    transition: 0.5s;
    cursor: pointer;
}

.content_available {
    border: 1px dashed #0077ff;
}

h2 {
    color: #77D6A9;
    font-size: 25px;
    font-weight: bold;
}

.texto {
    padding: 10px;
    color: #848484;
    font-size: 17px;
}




/*Desde aqui empieza lo que es el pie de pagina*/

footer {
    width: 100%;
    height: 100px;
    background-color: #363434; 
}

.pie {
    width: 800px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: auto;
    text-align: center;
}

.texto-pie {
    color: #FFF;
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.links_foteer {
    width:35px; 
    height: 35px; 
    margin-top:10px;
    transition: fill .3s ease-out;
}

.links_foteer_left {
    margin-left:20px;
}