.mundo{
    font-family: sans-serif;
}


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    background: #f5f5f5;
}


.superior {
    background-color: #ffffff;
    width:100%;
    height: 100px;
    margin: auto 0;
    
}

.cuadro-superior {
    max-width: 700px;
    height: 70px;
    margin: auto;
    padding-top: 10px;
}

.logo {
    width: 250px;
    height: 100px;
    float: left;
    margin-top: -20px;
    margin-left: -40px;
    margin-right: 30px;
}

.information_language {
    float: right;
    font-size: 23px;
    text-decoration: underline;
    cursor: pointer;
    color: #0042ff;
}

span {
    color: #fff;
    font-size: 28px;
}

#title {
    color: #38c00e;
    font-size: 28px;
    /*font-family:serif;*/
    margin-left: 40px;
    margin-top: 10px;
}

#close_inicio {
    margin-left: 140px;
    font-size: 18px;
    font-weight: bold;
}

#close_inicio:hover{
    color: #84deff;
    cursor: pointer;
}

.cabeza {
    background-image: url(../img/01.jpg);
    width: 100%;
    height: 100%;
    z-index:-1;
    margin-top: -30px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   
}

.cuadro-titulo {
    width: 600px;
    height: 400px;
    margin: auto;
    text-align: center;
}

.mundo {
    padding-top: 50px; 
    color: #fff;
    font-size: 30px;
    /*font-family: 'Lobster', cursive;*/
    letter-spacing: 3px;
}

.cuadro-menu {
    width: 100%;
    height: 50px; 
    /*background-color: #b7cee3;*/
    text-align: center;
    padding-top: -16px;
    margin-top: -270px;
    position: absolute;
    
}

.menu {
    width: 700px;
    background-image: linear-gradient(-90deg, #41e485, #5de7f8);
    height: 50px;
    margin: auto;
    text-align: center;
    padding-left: 120px;
}

.menu nav ul li {
    float: left;
    margin-top: 17px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    cursor: pointer;
    padding-right: 20px;
    list-style-type: none;
}

.bordito {
    border-right: 1px solid #FFF;
}

.bordito1 {
    color: rgb(18, 0, 82);
    border-right: 1px solid #FFF;
}

.menu nav ul li:hover {
    color: black;
}

a {
    color: #FFF;
    font-weight: bold;
}

.link-contact{
    display: none;
}

.cuerpo {
    width: 100%;
    height: 3200px;
    background: #f5f5f5;
    margin-top: -22px;
}

.cuadro-texto {
    width: 700px;
    height: 300px;
    margin: auto;
}

.linea {
    width: 800x;
    border: 2px solid #ebebeb;
    margin-top: 70px;
	margin-bottom:40px;
}

h1 {
    text-align: center;
	font-size:35px;
	margin-bottom:20px;
	font-weight:bold;
    
}


.text-perfil {
    padding-top: 50px;
	font-size:35px;
    border-bottom: 2px solid #d6d3d3;
    padding-bottom: 20px;
    color: #b2b2b2;
    font-weight: 100;
    /*font-family: sans-serif;*/
    width: 600px;
    text-align: center;
    margin-left: 50px;
}

.des-curso {
    font-size: 20px;
    /*font-family: sans-serif;*/
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.des-torneo {
    float: left;
}

.biog {
    font-size: 20px;
    color: #7f7f7f;
    /*font-family: sans-serif;*/
	
    margin-left: 100px;
    margin-right: 100px;
}

.box1 {
    border-radius: 10px; 
    height: 1350px;
    background-color: white;
    box-shadow: 0 2px 0 0 #e5e5e5;
}

.box2 {
    border-radius: 10px; 
    height: 460px;
    background-color: white;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin-top: 100px;
}

.box3 {
    border-radius: 10px; 
    height: 200px;
    background-color: white;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin-top: 100px;
}

.box4 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    height: 370px;
    background-color: white;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin-top: 50px;
    text-align: center;
    position: absolute;
    margin-top: -198px;
    width: 700px;

}

.curso{
    float: left;
    width: 600px;
    height: 350px;
    border-bottom: 3px solid #ebe9e9;
    text-align: center;
    margin-left: 50px;
    margin-top: 40px;
}

.curso2{
    float: left;
    width: 600px;
    text-align: center;
    height: 350px;
    margin-top: 40px;
    padding-left: 50px;
}

.curso3{
    width: 600px;
    text-align: center;
    height: 290px;
    margin-left: 50px;
    padding-top: 20px;
    border-top: 3px solid #ebe9e9;
    float: left;
    padding-left: 50px;
    padding-right: 50px;
}

.curso-imagen {
    margin-top: 10px;
}

.torneo-imagen{
    width: 260px;
    height: 200px;
    margin-top: 40px;
    float: left;
    margin-left: 30px;
    margin-right: 10px;
}

.torneos {
    width: 700px;
    margin-top: 50px;
    font-size: 20px;
    /*font-family: sans-serif;*/
    margin-left: 0px;
    margin-bottom: 20px;
    color: #7f7f7f;
}

.link {
    color: #3196cc;
    font-size: 22px;
}

.link-codejam {
    color: #3196CC;
    margin-left: 30px;
    font-size: 20px;
}

.cursos {
    font-size: 20px;
    color: #7f7f7f;
    /*font-family: sans-serif;*/
    margin-top: 10px;
}

.times-imagen {
    margin-bottom: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom: 3px solid #e0e0e0;
}

.col1 {
    width: 500px;
    height: 630px;
    margin-left: 100px;
    margin-top: 40px;
    background-color: white;
    box-shadow: 0 2px 0 0 #e5e5e5;
    border-radius: 10px;
    text-align: center;
}

.col2 {
    width: 500px;
    height: 630px;
    margin-top: 40px;
    margin-left: 100px;
    background-color: white;
    box-shadow: 0 2px 0 0 #e5e5e5;
    border-radius: 10px;
    text-align: center;
}

.tiempos {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    color: #7f7f7f;
}

.times-link {
    text-align: center;
    color: #777;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: inset 0 0 0 2px #e5e5e5;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: inline-block;
    font-weight: 400;
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 6px;
    border: 0;
    margin-top: 80px;
    font-size: 20px;
}

.times-link2 {
    text-align: center;
    color: #777;
    text-decoration: none;
    border: 1px solid black;
    box-shadow: inset 0 0 0 2px #e5e5e5;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: inline-block;
    font-weight: 400;
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 6px;
    border: 0;
    margin-top: 60px;
    font-size: 20px;
}

.times-link:hover {
    background-color: #f8f8f8;
}

.times-link2:hover {
    background-color: #f8f8f8;
}

.separador {
    height: 30px;
}

footer {
    width: 100%;
    height: 100px;
    background-color: #363434; 
}

.pie {
    width: 500px;
    height: 100px;
    border: 1px solid rgba(255, 255, 255, 0);
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.texto-pie {
    color: #FFF;
    padding-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.links_foteer {
    width:35px; 
    height: 35px; 
    margin-top:10px;
    transition: fill .3s ease-out;
}

.links_foteer_left {
    margin-left:20px;
}